<configuration>
    <appender sender="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%green(%d{HH:mm:ss}) %highlight([%level]) %highlight([%thread] %logger{36} -) %highlight(%msg%n)</pattern>
        </encoder>
    </appender>

    <appender sender="FILE" class="ch.qos.logback.core.FileAppender">
        <file>Task4/application.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{HH:mm:ss} [%level] [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="${log.level:-INFO}">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>
</configuration>